
@{
    ViewData["Title"] = "Register";
}
<br />

<h4>Register</h4>



<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">

            <h2> @ViewBag.RegisterMessage</h2><br />

            <p> <h3>Thank you</h3></p>
        </div>
        <div>
            <a asp-area="Identity" asp-page="/Account/Register">Register a New User</a>
        </div>
    </div>
</section>