html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Adjusts the width of the Monthly input field */
.monthly-input {
    width: 300px !important; /* Set to a more reasonable size */
    max-width: 100%; /* Ensures responsiveness */
}
.sec-name-input {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.short-input {
    width: 80px;
}

/*logo*/
.navbar-brand img {
    margin-right: 10px;
    border-radius: 5px; /* Optional rounded corners */
}



.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-custom {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; /* Space for the caret */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-size: 14px;
}


.caret {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #555;
}

/*
    bg
*/
/* Hero Section Background */

.hero {
    background: url('/images/bg.jpg') no-repeat center center/cover;
    height: 65vh; /* Adjust height */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

    /* Reduce Darkness of Overlay */
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); /* Change from 0.5 to 0.2 */
        z-index: 1;
    }

/* Hero Content Styling */
.hero-content {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3); /* Make content box slightly transparent */
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}



/*end bg*/