@model TimeProductivityTracking.web.Models.Productivities

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<h4>Productivities</h4>
<hr />





 <form asp-action="Create">
<table class="table" >

    <thead>
            <tr>
             <div class="form-group">
             <th>
             <a> SEC Name</a>
            </th>
                </div >
            </th>
                <div class="form-group">
            <th>       
                   <label asp-for="County" class="control-label"></label>
            </th></div>

            <th>

                <label asp-for="PlannedDays" class="control-label"></label>
            </th>
            <th>
                <label asp-for="Task" class="control-label"></label>
               
            </th>
            <th>
                <label asp-for="Mentor" class="control-label"></label>
               
            </th>
            <th>
                <label asp-for="ContractorId_FK" class="control-label"></label>
                
            </th>
            <th></th>
        </tr>
    </thead>

  
    <tbody>
        @foreach (var item in (IEnumerable<SECContract> )ViewData["SEC"])
        {     
          <tr>
        
                    <th> @item.SECName</th>
            
               <th>
               <div class="form-group">
                  @Html.DropDownListFor(m => m.County, new SelectList(Enum.GetValues(typeof(Counties)))) 

                <span asp-validation-for="County" class="text-danger"></span>
               </div>
            </th>
            <th>
            <div>

                            @Html.DropDownList("PlannedDay,", ViewBag.SelectPlanDay as SelectList, "   ")
                            <span asp-validation-for="PlannedDays" class="text-danger"></span>

            </div>
         
            </th>
            <th>
              
                  @Html.DropDownListFor(m => m.Task, new SelectList(Enum.GetValues(typeof(Tasks))), "Select ..") <br /><br />

                <span asp-validation-for="Task" class="text-danger"></span>
            </th>
            <th>
          
                <input asp-for="Mentor" value=@User.Identity.Name class="form-control" />
                <span asp-validation-for="Mentor" class="text-danger"></span>
            </th>
            <th>
                 <input asp-for="Mentor" value=@User.Identity.Name class="form-control" />
                <span asp-validation-for="ContractorId_FK" class="text-danger"></span>
                <th></th>
            </tr>
        }
        <tbody>


  </table>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
  </form>     

   
 
    <a asp-action="Index">Back to List</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
